/* to hide the icons */
footer.tweet-footer ul{
    visibility: hidden;
    margin-left:40%;
    margin-right:10%
}
footer.tweet-footer:hover ul{
    visibility: visible;
}


li.tweet-action-item{
}

.link-complex-target{
}
